body {
	background: #fff;
    font-family: 'Roboto', sans-serif;
}

strong {
	font-weight:700;
}

code {
	font-size:0.9em;
	background: #efefef;
	white-space: pre;
}

.contents {
    margin:2em 0;
    display: none;
}

.headerlink {
	display:none;
}

.top-bar {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    background: #f8f8f8;
}

.top-bar>.row {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar, .top-bar ul {
	background-color:#f8f8f8;
}

.top-bar a {
	color:#000;
}

.menu>li {
	margin: 0 10px;
    display: inline-block;
}

.menu>li:last-child {
	margin:0 0 0 10px;
}

.menu>li>a {
	border: 1px solid #CACACA;
    border-radius: 5px;
    padding: 5px 15px;
    line-height: 1;
    font-size: 0.8em;
    color: #444;
}

.menu>li>a:hover {
	border-color:#444444;
}

.menu-icon:after {
    background: #444;
    box-shadow: 0 7px 0 #444,0 14px 0 #444;
}

.toc-menu {
	background: #f8f8f8;
    padding:25px 25px;
    position: relative;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 5px;
}

.copyright {
	font-size: 0.8em;
	margin:.5em 0;
}

.copyright span {
    display: block;
}

.credits {
	font-size: 0.8em;
	margin:.5em 0;
}

.credits span {
	font-weight: 700;
    display: block;
}

.toc-menu>ul {
	list-style: none;
	margin:0;
	padding:0;
}

.toc-menu>ul>li>a {
	display: none;
}

.toc-menu>ul>li a {
	color:#444;
}

.toc-menu ul ul {
	list-style: none;
	margin:0;
	padding:0;
}

.toc-menu ul ul li {
	
}

.toc-menu ul ul li a {
	color: #444;
    font-weight: 700;
    font-size: 0.9em;
    border-bottom: 2px solid #d2d2d2;
    padding: 5px 0 0 0;	
}

.main-content {
	position: relative;
	padding:85px 25px 25px 25px;
	outline:0;
}

.highlight {
	padding: 5px 10px;
    border: 1px solid #e1e1e1;
}

/* Multi-language table */

.multilang-table, .python-table, .julia-table {
	box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.5);
}

.multilang-table pre {
	white-space: pre-wrap;
}

.multilang-table colgroup {
	display:none;
}

.multilang-table table {
	width:100%;
	border:0;
}

.multilang-table table thead {
	background:inherit;
	border:0;
}

.multilang-table thead tr {
    display: flex;
}

.multilang-table table tbody {
	border:0;
}
.multilang-table tbody tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.multilang-table thead tr th:first-child{
  display:none;
}

.multilang-table thead tr th {
	flex: 1;
    text-transform: uppercase;
    background: #ecffdc;
    margin: 10px 10px;
    padding: 0;
    font-weight: 700;
    text-align: center;
    font-size: 0.7em;
    border: 1px solid #ddd;
	display:block;
}

.multilang-table tbody tr td {
	flex: 1 0 30%;
    border: 0px solid #efefef;
	display: block;
}

.multilang-table tbody tr td:nth-child(1) {
	flex: 0 1 100%;
    font-weight: 700;
    font-size: 0.9em;
    border-bottom: 1px solid #efefef;
    padding: 20px 10px 0 10px;
}

.multilang-table tbody tr td:nth-child(2) .highlight {
	background: #ffebd8;
}

.multilang-table tbody tr td:nth-child(3) .highlight {
	background: #fffde2;
}

.multilang-table tbody tr td:nth-child(4) .highlight {
	background: #f7edfb;
}

/* Single language table */

.python-table .highlight {
	background: rgb(255, 253, 226);
}

.julia-table .highlight {
	background: rgb(247, 237, 251);
}

.singlelang-table colgroup {
	display:none;
}

.singlelang-table table {
	width:100%;
	border:0;
}

.singlelang-table table thead {
}

.singlelang-table thead tr {
}

.singlelang-table table tbody {
	border:0;
}
.singlelang-table tbody tr {
}

.singlelang-table thead tr th:first-child{
}

.singlelang-table thead tr th {
}

.singlelang-table tbody tr td {
	border:0;
}

.singlelang-table tbody tr td:nth-child(1) {
}

.section h2 {
	background: #515964;
    color: #fff;
    font-size: 1em;
    padding: 3px 10px;
    font-weight: 700;
    margin: 40px 0 20px 0;
    box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.5);
}

.site-logo {
	flex:1;
	font-size:1.4rem;
	margin:0; 
}
.site-logo a {
	color:#333;
	text-decoration: none;
	display:flex;
	align-items: center;
}
.site-title {
	line-height: 1.4;
	margin:0 0 0 10px;
}
.site-title small {
	font-size:0.9rem;
	display:block;
	font-family: 'Exo', sans-serif;
	font-weight:200;
}
.site-title span {
	font-weight: 400;
}

.github-logo {
	position: absolute;
	top:25px;
	right:25px;
}

.github-logo img {
	width: 60px;
}

.section h1 {
	border-bottom: 2px solid #efefef;
    margin: 0 0 25px 0;
    text-align: center;
    font-size:1.8em;
}

.section h1 .headerlink {
	color:#fff;
}

.section h2 .headerlink {
	color:#515964;
}

table tbody tr:nth-child(even) {
	background-color: inherit;
}

.footer {
	background-color: #f8f8f8;
	padding:2rem;
	box-shadow: inset 0 1px 2px rgba(195, 195, 195, 0.4);
}

@media screen and (max-width: 40em) {

	.github-logo {
		position: static;
		text-align: center;
	}
	
	.github-logo img {

	}	
	.site-logo {
	}
	.singlelang-table {
		overflow-x: scroll;
	}
	.multilang-table tbody tr {
		display: block;
	}
	.multilang-table tbody tr td {
		display: block;
	}
	.multilang-table thead tr th:nth-child(2) {
		background: #ffebd8;
	}
	
	.multilang-table thead tr th:nth-child(3) {
		background: #fffde2;
	}
	
	.multilang-table thead tr th:nth-child(4) {
		background: #f7edfb;
	}

	.site-logo {
		margin: 1rem 0;
	}

	.top-bar>.row {
		flex-direction: column;
	}

	.menu>li {
   		margin: 5px 3px !important;
	}

	.menu>li>a {
		padding: 5px 10px;
	}

}