body {
	background: #e6e6e6;
}

code {
	font-size:0.9em;
	background: #efefef;
	white-space: pre;
}

.contents {
    border: 1px solid #d2d2d2;
/*     border-width: 1px 0; */
    margin:2em 0;
    display: none;
}

.title-bar {
    background: #f8f8f8;
    color: #444;
    border-bottom: 1px solid #d2d2d2;
}

.menu-icon:after {
    background: #444;
    box-shadow: 0 7px 0 #444,0 14px 0 #444;
}

.toc-menu {
	background: #f8f8f8;
    padding:25px 25px;
    position: relative;
}

.credits {
	font-size: 0.8em;
	margin:1.5em 0 0 0;
}

.credits span {
	font-weight: 700;
    display: block;
}

.toc-menu>ul {
	list-style: none;
	margin:0;
	padding:0;
}

.toc-menu>ul>li>a {
	display: none;
}

.toc-menu>ul>li a {
	color:#444;
}

.toc-menu ul ul {
	list-style: none;
	margin:0;
	padding:0;
}

.toc-menu ul ul li {
	
}

.toc-menu ul ul li a {
	color: #444;
    font-weight: 700;
    font-size: 0.9em;
    border-bottom: 2px solid #d2d2d2;
    padding: 5px 0 0 0;	
}

.main-content {
	position: relative;
	background: #fff;
	padding:25px;
}

.highlight {
	padding: 5px 10px;
    border: 1px solid #e1e1e1;
}

/* Multi-language table */

.multilang-table pre {
	white-space: pre-wrap;
}

.multilang-table colgroup {
	display:none;
}

.multilang-table table {
	width:100%;
	border:0;
}

.multilang-table table thead {
	background:inherit;
	border:0;
}

.multilang-table thead tr {
    display: flex;
}

.multilang-table table tbody {
	border:0;
}
.multilang-table tbody tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.multilang-table thead tr th:first-child{
  display:none;
}

.multilang-table thead tr th {
	flex: 1;
    text-transform: uppercase;
    background: #ecffdc;
    margin: 0 10px;
    padding: 0;
    font-weight: 700;
    text-align: center;
    font-size: 0.7em;
    border: 1px solid #ddd;
	display:block;
}

.multilang-table tbody tr td {
	flex: 1 0 30%;
    border: 0px solid #efefef;
	display: block;
}

.multilang-table tbody tr td:nth-child(1) {
	flex: 0 1 100%;
    font-weight: 700;
    font-size: 0.9em;
    border-bottom: 1px solid #efefef;
    padding: 20px 10px 0 10px;
}

.multilang-table tbody tr td:nth-child(2) .highlight {
	background: #ffebd8;
}

.multilang-table tbody tr td:nth-child(3) .highlight {
	background: #fffde2;
}

.multilang-table tbody tr td:nth-child(4) .highlight {
	background: #f7edfb;
}

/* Single language table */

.python-table .highlight {
	background: rgb(255, 253, 226);
}

.julia-table .highlight {
	background: rgb(247, 237, 251);
}

.singlelang-table colgroup {
	display:none;
}

.singlelang-table table {
	width:100%;
	border:0;
}

.singlelang-table table thead {
}

.singlelang-table thead tr {
}

.singlelang-table table tbody {
	border:0;
}
.singlelang-table tbody tr {
}

.singlelang-table thead tr th:first-child{
}

.singlelang-table thead tr th {
}

.singlelang-table tbody tr td {
}

.singlelang-table tbody tr td:nth-child(1) {
}






.section h2 {
	background: #515964;
    color: #fff;
    font-size: 1em;
    padding: 3px 10px;
    font-weight: 700;
    margin: 40px 0 20px 0;
}

.site-logo {
	text-align: center;
}

.site-logo img {
	width:180px;
}

.github-logo {
	position: absolute;
	top:25px;
	right:25px;
}

.github-logo img {
	width: 60px;
}

.section h1 {
	border-bottom: 2px solid #efefef;
    margin: 0 0 25px 0;
    text-align: center;
    font-size:1.8em;
}

.section h1 .headerlink {
	color:#fff;
}

.section h2 .headerlink {
	color:#515964;
}

table tbody tr:nth-child(even) {
	background-color: inherit;
}



@media screen and (max-width: 40em) {

	.github-logo {
		position: static;
		text-align: center;
	}
	
	.github-logo img {

	}	
	.site-logo img {
		width:70%;
	}
	.multilang-table tbody tr {
		display: block;
	}
	.multilang-table tbody tr td {
		display: block;
	}
	.multilang-table thead tr th:nth-child(2) {
		background: #ffebd8;
	}
	
	.multilang-table thead tr th:nth-child(3) {
		background: #fffde2;
	}
	
	.multilang-table thead tr th:nth-child(4) {
		background: #f7edfb;
	}

}