body {
	background: #191C22;
}

.title-bar {
	text-align: center;
    cursor: pointer;
    font-size: 0.9em;
}

.toc-menu {
	display: none;
	background: #efefef;
    border-bottom: 2px solid #d2d2d2;
    padding:25px 0;
}

.toc-menu>ul {
	list-style: none;
	text-align: center;
	margin:0;
	padding:0;
}

.toc-menu>ul>li {
	
}

.toc-menu>ul>li a {
	color:#444;
}

.toc-menu ul ul {
	list-style: none;
	margin:0;
	padding:0;
}

.toc-menu ul ul li {
	
}

.toc-menu ul ul li a {
	color: #444;
    font-weight: 700;
    font-size: 0.8em;
    border-bottom: 2px solid #d2d2d2;
    padding: 5px 0 0 0;	
}

.main-content {
	position: relative;
	background: #fff;
	padding:25px;
}

pre {
	overflow:visible;
	white-space: pre-line;
}

colgroup {
	display:none;
}

table {
	width:100%;
	border:0;
}

table thead {
	background:inherit;
	border:0;
}

thead tr {
    display: flex;
}

table tbody {
	border:0;
}
tbody tr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

thead tr th:first-child{
  display:none;
}

thead tr th {
	flex: 1;
    text-transform: uppercase;
    background: #ecffdc;
    margin: 0 10px;
    padding: 0;
    font-weight: 700;
    text-align: center;
    font-size: 0.7em;
    border: 1px solid #ddd;
	display:block;
}

tbody tr td {
	flex: 1 0 30%;
    border: 0px solid #efefef;
	display: block;
}

tbody tr td:nth-child(1) {
	flex: 0 1 100%;
    font-weight: 700;
    font-size: 0.9em;
    border-bottom: 1px solid #efefef;
    padding: 20px 10px 0 10px;
}

tbody tr td:nth-child(2) .highlight {
	background: #ffebd8;
}

tbody tr td:nth-child(3) .highlight {
	background: #fffde2;
}

tbody tr td:nth-child(4) .highlight {
	background: #f7edfb;
}

.section h2 {
	background: #515964;
    color: #fff;
    font-size: 1em;
    padding: 3px 10px;
    font-weight: 700;
    margin: 40px 0 20px 0;
}

.site-logo {
	text-align: center;
}

.site-logo img {
	width:180px;
}

.github-logo {
	position: absolute;
	top:25px;
	right:25px;
}

.github-logo img {
	width: 60px;
}

.section h1 {
	border-bottom: 2px solid #efefef;
    margin: 0 0 25px 0;
    text-align: center;
    font-size:1.8em;
}

.section h1 .headerlink {
	color:#fff;
}

.section h2 .headerlink {
	color:#515964;
}

.highlight {
	background:#ffefaf;
	padding: 5px 10px;
    border: 1px solid #e1e1e1;
}

table tbody tr:nth-child(even) {
	background-color: inherit;
}



@media screen and (max-width: 40em) {

	.github-logo {
		position: static;
		text-align: center;
	}
	
	.github-logo img {

	}	
	.site-logo img {
		width:70%;
	}
	tbody tr {
		display: block;
	}
	tbody tr td {
		display: block;
	}
	thead tr th:nth-child(2) {
		background: #ffebd8;
	}
	
	thead tr th:nth-child(3) {
		background: #fffde2;
	}
	
	thead tr th:nth-child(4) {
		background: #f7edfb;
	}

}